{{#partial "content"}}
<div class="row" style="background-color: black;">
          <h1 class="title; text-success">WELCOME TO HERO-SQUAD</h1>
          <img src="./images/hero original-cropped.jpg" style="background-color: black;">
</div>
{{/partial}}
{{> layout.hbs}}