{{#block "header"}}
<!DOCTYPE html>
<html>
 <head>
   <title>{{#block "title"}} Hero Squad {{/block}} </title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
 </head>

 <body>
    {{/block}}
   <!-- begin inner template-->
    <div class="container">
         {{#block "content"}} {{/block}}
     </div>
      <!-- end inner template-->
    {{#block "footer"}}
 </body>
</html>

{{/block}}
