{{#partial "content"}}

    <h1>Success!</h1>

    Your submission has been saved.
    <hr>
    <a href="/squad-view"><button class="btn btn-success btn-md">View all Squads</button></a>
    <a href="/hero-view"><button class="btn btn-success btn-md">View all Heroes</button></a>

{{/partial}}
{{> layout.hbs}}